<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="packautomation" verbose="1">

    <listeners>
        <listener class-name="com.listeners.AllureListener"/>
    </listeners>

    <test name="Alfadock Login Test">
        <classes>
            <class name="testclasses.HomepageTest"/>
            <!-- <class name="testclasses.Rough"/> -->
        </classes>
    </test>
</suite>
